[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/PX4/eigen.git
[submodule "thirdparty/openvr"]
	path = thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr.git
